{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<!-- logotipo --> SISTEMA ADMINISTRATIVO API PRODUCTOR
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					
				</div>
				<form class="navbar-form navbar-left">
					<!-- boton -->
				</form>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="" title="Upgrade to Pro" target="_blank">
						<i class="fa fa-rocket"></i> <span>LOG OUT</span>
					</a>
				</div>
				<div id="navbar-menu">
					
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="" class=""><i class="lnr lnr-code"></i> <span>Usuarios</span></a></li>
						
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->

					<div class="row">
						<div class="col-md-6">
							<!-- BASIC TABLE -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Usuarios Recientemente Logueados</h3>
								</div>
								<div class="panel-body">
									<table class="table">
										<thead>
											<tr>
												<th>Usuario</th>
												<th>Ubicacion</th>
												<th>Username</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Steve</td>
												<td>Jobs</td>
												<td>@steve</td>
											</tr>
											<tr>
												<td>Simon</td>
												<td>Philips</td>
												<td>@simon</td>
											</tr>
											<tr>
												<td>Jane</td>
												<td>Doe</td>
												<td>@jane</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>
						<div class="col-md-6">
							<!-- TABLE NO PADDING -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Apis Conectadas</h3>
								</div>
							</div>

							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Apis Conectadas</h3>
								</div>
								<div class="panel-body no-padding">
									
								</div>
							</div>
							<!-- END TABLE NO PADDING -->
						</div>
					</div>

				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
{% endbloc k%}